%html
	%head
		%title My Sinatra Website
		%script{:rel => "javascript", :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
		%script{:rel => "javascript", :type => "text/javascript", :src  => "/application.js"}
		%link{:rel => "stylesheet", :type => "text/css", :href  => "/reset.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href  => "/application.css"}
	%body
		%nav
		%section#main
			= partial(:boo, :collection => @boos)